@import '../../scss/global_mixin.scss';

.tableContent{
    height:41vh;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.tableContent::-webkit-scrollbar {
    display: none;
}
