@import '../../scss/_variable.scss';
@import '../../scss/global_mixin.scss';

.wow1 {
    height: 39vh;
}

.wow2 {
    height: 43vh;
}

.clm1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 29vh;
}

.clrdiv {
    background: linear-gradient(253.84deg, #F5F5F5 0%, #FAFAFA 100%, #FAFAFA 100%);
    border-radius: 5px;
    height: 33vh;
}

.font1 {
    font-size: $fs-14;
}

.tick-element {
    &.true {
        @include tickCrossCircle ($tick-enabled, $primary-white, $fs-10);
    }

    &.false {
        @include tickCrossCircle ($tick-disabled, $primary-white, $fs-10);
    }
}

.fw-500 {
    font-weight: $fw-500;
}
.spinner{
    display: flex;
    justify-content: center;
}