.wow1{
    height: 39vh;
}
.wow2{
    height: 43vh;
}
.clm1{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 195px;
}
.clrdiv{
    background: linear-gradient(253.84deg, #F5F5F5 0%, #FAFAFA 100%, #FAFAFA 100%);
    border-radius: 5px;
    min-height: 235px;
}
.font1{
    font-size: 14px;
}
.tick-element{
    &.true{
    background: #66BB6A;
    }
    &.false{
        background: #424242;
    }
    border-radius: 50%;
    color: white;
    font-size: 10px;
    padding: 2px 4px;
}