@import './scss/_variable.scss';
.App {
  text-align: center;
  font-size: $fs-14;
  font-family:  'Inter' !important;
  font-style: normal;
}
.mainLayout {
  padding: .4rem 1rem; 
  position: absolute;
  width: 100%;
  height: 100vh;
  
  box-shadow: -4px 0px 10px $shadow-white;
  background-color: $primary-white;
}

.sidebarView {
 width: 21.1%;
}