$primary-white:#ffffff;
$shadow-white: #E0E0E0;
$sidebar-bgColor: #F5F5F5;
$sidebar-black-color: #000000;
$tick-disabled: #424242;
$tick-enabled: #66BB6A;


$fs-10: 10px;
$fs-12: 12px;
$fs-14: 14px;
$fs-16: 16px;
$fs-18: 18px;
$fs-20: 20px;
$fs-22: 22px;
$fs-24: 24px;

$fw-300: 300;
$fw-400: 400;
$fw-500: 500;
$fw-600: 600;
$fw-700: 700;