@import './_variable.scss';

@mixin tickCrossCircle ($bgclr, $fnt-clr,$fs-size) {
    background-color: $bgclr;
    border-radius: 50%;
    color: $fnt-clr;
    font-size: $fs-size;
    padding: 2px 4px;
}